:root {
  --night: #161616;
  --midnight-green: #005454;
  --thistle: #E9D2F4;
  --tea-green: #D0F1BF;
}


body {
  background-color: var(--night);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
